@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
font-size: 1rem;
}


h1 {
color: red;
}

.search-bar{
  padding-top: 60px;
}

.price-result{
  display: inline-block;
}

.log-out{
  margin-right: 5px;
}
