<footer id="sticky-footer" class="py-4 bg-dark text-white footer fixed-bottom">
  <div class="container text-center">
      <small>Copyright &copy; Anurag Mishra.All Rights Reserved </small>
  </div>
</footer>
